<%= form_for(@timetable) do |f| %>
  <% if @timetable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timetable.errors.count, "error") %> prohibited this timetable from being saved:</h2>

      <ul>
      <% @timetable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gig_id %><br>
    <%= f.select(:gig_id, Gig.all.collect {|g| [ g.name, g.id ] }, {prompt: 'Select Gig'}) %>
  </div>
  <div class="field">
    <%= f.label :timetable_date %><br>
    <%= f.datetime_select :timetable_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>