<p id="notice"><%= notice %></p>

<h1>Listing Timetables</h1>

<table>
  <thead>
    <tr>
      <th>Gig</th>
      <th>Venue</th>
      <th>Timetable date</th>
      <th>Venue Capacity</th>
      <th>Tickets Available</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timetables.each do |timetable| %>
      <tr>
        <td><%= timetable.gig.try(:name) %></td>
        <td><%= timetable.venue.try(:name) %></td>
        <td><%= timetable.human_readable_date %></td>
        <td><%= timetable.max_capacity %></td>
        <td><%= timetable.availability(1) %></td>
        <td><%= link_to 'Show', timetable %></td>
        <td><%= link_to 'Edit', edit_timetable_path(timetable) %></td>
        <td><%= link_to 'Destroy', timetable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>







<%= link_to 'New Timetable', new_timetable_path %>