<p id="notice"><%= notice %></p>

<h1>Listing Timetables</h1>

<ul class="gigs">
  <% @timetables.each do |timetable| %>
  <li>
    <div class="date">
      <%= timetable.human_readable_date %>
    </div>
    <div class="gig-details">
      <h3>
        <%= timetable.gig.try(:name) %> 
      </h3>
      <div class="time">
        <div class="date">
          <%= timetable.human_readable_time %>
        </div>
      </div>
      <div class="venue"> 
        <%= timetable.venue.try(:name) %>
      </div>

      <%#= timetable.max_capacity %>
      <%= link_to 'Show', timetable, :class=> "btn" %>
    </div>
    
    <div class="tickets">
      <img src="//placehold.it/100x100">
      Tickets Available
      <%= timetable.availability(1) %>
    </div>

    <div class="gig-admin">
      <%= link_to 'Edit', edit_timetable_path(timetable) if can? :edit, Timetable %>
      <%= link_to 'Destroy', timetable, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, Timetable %>
    </div>
  </li>
  <% end %>
</ul>




<%= link_to 'New Timetable', new_timetable_path %>