<p id="notice"><%= notice %></p>

<p>
  <strong>Gig name:</strong>
  <%= @timetable.gig.name %>
</p>
<p>
  <strong>Venue:</strong>
  <%= @timetable.venue.name %>
</p>

<p>
  <strong>Timetable date:</strong>
  <%= @timetable.timetable_date %>
</p>

<%= link_to 'Edit', edit_timetable_path(@timetable) %> |
<%= link_to 'Back', timetables_path %>