<p id="notice"><%= notice %></p>

<p>
  <strong>Gig name:</strong>
  <%= @timetable.gig.name %>
</p>
<p>
  <strong>Venue:</strong>
  <%= @timetable.venue.name %>
</p>

<p>
  <strong>Timetable date:</strong>
  <%= @timetable.try(:human_readable_date) %>
</p>
<!-- <p>
<td><%#= link_to image_tag(@gig.gig_image.thumb.url), @gig.gig_image.midium.url %></td>
</p> -->

<%= link_to 'Edit', edit_timetable_path(@timetable) %> |
<%= link_to 'Back', timetables_path %>

<%= link_to 'Book', new_timetable_booking_path(@timetable) %>