<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gig.name %>
</p>


<p>
  <b>Gig:</b>
  <%= link_to image_tag(@gig.gig_image.thumb.url), @gig.gig_image.midium.url %>
</p>

<%= link_to 'Edit', edit_gig_path(@gig) %> |
<%= link_to 'Back', gigs_path %>