<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gig.name %>
</p>
<p>
  <b>Gig:</b>
  <%= link_to image_tag(@gig.gig_image.thumb.url), @gig.gig_image.midium.url %>
</p>

<p>
  <strong>Venue Capacity:</strong>
  <%= @venue.capacity %>
</p>

<!-- <h5><strong>Category:</strong><br></h5>
<%#= @gig.category.name if @gig.category %> -->

<%= link_to 'Edit |', edit_gig_path(@gig) if can? :edit, @gig %> 
<%= link_to 'Back', gigs_path %>



