<!DOCTYPE html>
<html>
<head>
  <title>GigHubApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<header class="header">
  
<%= image_tag("logo.png", :alt => "logo", :class=> "logo") %>

<!-- <img class="logo" src="/documents/logo.png"> -->
  <nav class="nav">
  <ul>
    <br>
     <li><%=link_to 'Gigs', gigs_path %></li>
      <li><%=link_to 'Timetables', timetables_path %></li>
      <li><%=link_to 'Venues', venues_path %></li> 
      <li><%=link_to 'Categories', categories_path %></li>
      <li><%=link_to 'My bookings', root_path %></li>
  </ul>
  </nav>

  <section class="account">
  <p>Logged in as:<br>
  <% if user_signed_in? %>
    <strong><%= current_user.email %></strong>.</p>
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'account-edit' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'account-logout'  %>
    <%= image_tag current_user.gravatar_url %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'account-signup'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'account-login'  %>
  <% end %>
  </section>
</header>



<div class="wrapper">
<%= yield %>
</div>

</body>
</html>
